<h1>Login</h1>

<%= form_for :session, url: login_path do |form| %>
  <%= render "shared/flash" %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username_email %><br>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %><br>
    <%= link_to "Forgot your password?", password_reset_path %>
  </div>

  <div>
    <%= form.submit t("sessions.views.login")%>
  </div>

  <div>
    <%= link_to "Register", new_user_path %>
  </div>
<% end %>