<p>
  <strong><%= t "comments.views.cmter" %></strong>
  <%= comment.user.full_name %>
</p>

<p>
  <strong><%= t "comments.views.cmt" %></strong>
  <%= comment.body %>
</p>

<p>
  <% if current_user == comment.user %>
  <%= link_to t("comments.views.del"), [comment.article, comment] , data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
  <% end %>            
</p>
