<p>
  <strong><%= t "comments.views.cmter" %></strong>
  <%= comment.user.full_name %> ( <%= link_to comment.user.username, user_posts_path(comment.user) %> )
</p>

<p>
  <strong><%= t "comments.views.cmt" %></strong>
  <%= comment.body %>
</p>

<p>
  <% if current_user == comment.user %>
  <%= link_to t("comments.views.del"), article_comment_path(comment) , data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
  <% end %>            
</p>
