<%= render "shared/flash" %>
<h1><%= t("articles.views.index.head") %></h1>

<ul>
  <% articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %> 
  <%= paginate articles %><br/>
  <%= page_entries_info articles %>
</ul>