<%= render "sessions/current" %>
<%= render "languages/change" %>

<%= form_with model: @user do |form| %>
  
  <div>
    <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize_to_limit: [100,100]) %><br>
    <%= link_to "Download", rails_blob_path(@user.avatar, disposition: 'attachment') %>
    <%= link_to "Preview", rails_blob_path(@user.avatar, disposition: 'preview') %>
    <% end %>
  </div>
  
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username, disabled: true %><br>
  </div>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %><br>
  </div>

  <div>
    <%= form.label :birthdate %><br>
    <%= form.date_select :birthdate, start_year: 1950 %><br>
  </div>

  <div>
    <%= form.submit t("users.views.show.update") %>
  </div>
<% end %>
