<h1>Category list</h1>
<%= link_to "new", new_category_path %>
<br/>
<table border="1">
  <% @categories.each do |category| %>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <tr>
      <th><%= category.name %></th>
      <th><%= link_to t("articles.views.show.edit"), edit_category_path(category) %> |
          <%= link_to t("articles.views.show.del"), category_path(category), data: {
                              turbo_method: :delete,
                              turbo_confirm: t("articles.views.show.confirm")
                              } %></th>
  <% end %>
</table>
  <%= paginate @categories %><br/>
  <%= page_entries_info @categories %>