<h3><%= t("articles.views.index.search") %></h3>
<%= form_tag search_admin_users_path, method: :get do |form| %>
  <%= label_tag t("users.views.search.by_username") %>
  <%= text_field_tag :username, params[:username] %>
  <%= submit_tag t("users.views.index.search") %>
<% end %>