<%= render "search" %> 
<h1><%= t("activerecord.models.user") %></h1>
<%#= link_to "new", new_admin_user_path %>
<br/>
<table border="1" id="data-table">
  <tr>
    <th><%= t("activerecord.attributes.user.admin") %></th>
    <th><%= t("activerecord.attributes.user.username") %></th>
    <th><%= t("activerecord.attributes.user.email") %></th>
    <th><%= t("activerecord.attributes.user.full_name") %></th>
    <th><%= t("activerecord.attributes.user.articles_count") %></th>
    <th><%= t("users.views.index.action") %></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.admin %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.full_name %></td>
      <td><%= user.articles_count %></td>
      <td><%#= link_to t("articles.views.show.edit"), edit_admin_user_path(user) %>
          <%= link_to t("articles.views.show.del"), admin_user_path(user), data: {
                              turbo_method: :delete,
                              turbo_confirm: t("articles.views.show.confirm")
                              } %></td>
    </tr>                          
  <% end %>
</table>
<%= paginate @users %><br/>
<%= page_entries_info @users %>

